# Configurações do Whisper
# Valores permitidos para WHISPER_DEVICE: cuda, cpu
WHISPER_DEVICE=cuda

# Valores permitidos para WHISPER_MODEL: tiny, base, small, medium, large-v3
WHISPER_MODEL=small

# Valores permitidos para WHISPER_COMPUTE_TYPE: float16, int8, float32
WHISPER_COMPUTE_TYPE=float16
